/* main styles for colors 1 */
body {
	display: flex;
	flex-direction: column;
	background: #64DC81;
	font-family: sans-serif;
	text-align: center;
	color: white;
}

h3{
	color: grey;
}

.lblink{
  text-align: left;
  color: green;
  margin-top: auto;
  padding-top: 20px;
  
}
/******** pure CSS accordion*******/

.tab-group {
	margin: 0 auto;
	max-width: 40em;
	width: 100%
}

.tab {
	position: relative;
	width: 100%
}

.tab input {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
}

.tab label {
	background: orange;
	color: #fff;
	display: block;
	font-weight: bold;
	line-height: 3;
	padding-left: .5em;
	padding-bottom: .5em;
	transition: letter-spacing .55s;
	border-radius: 10px;
	border: solid yellow 2px;
}

.tab input:focus + label,
.tab label:hover {
	background: grey;
	letter-spacing: 1px;
}

.tabcontent {
	max-height: 0;
	overflow: hidden;
	transition: all .35s;
}

.tabcontent p {
	margin: 1em 0;
	color: #fff;
}

.tab input:checked ~ .tabcontent {
	max-height: 6.25em;
}


/******** Pure CSS Modal popup******/

.modal{
	padding: 1.5em;
}

#modaltrigger {
	position: absolute;
	top: -1000px;
	display: hidden;
}
.modal > label {
	background: orange;
	border: 1px solid #f0c600;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	padding: .75em 1.5em;
	transition: all 0.55s;
}

.modal > label:hover {
	transform: scale(.97);
}

.modalwrap{
	padding: 1em 0;
	position: relative;
	margin: 0 auto;
	top: 30%;
	max-width: 500px;
	width: 90%;
}

.modalwrap label {
	position: fixed;
	top: 10px;
	right: 140px;
	font-size: 4em;
}
.modaloverlay {
	background: #000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	opacity: 0;
	z-index: -100;
	transform: scale(.5);
	transition: all .75s cubic-bezier(.68, -0.55, .265, 1.55);
	height: 100%;
	
}

input:checked ~ .modaloverlay {
	opacity: .85;
	background: #000;
	transform: scale(1);
	z-index: 800;
}

/* flexbox styles */

.container {
	display: flex;
	background: white;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1em;
}

.item {
	background: purple;
	border: solid yellow 2px;
	padding: 2em;
	margin: .5em;
	border-radius: 10px;
	flex: 1 200px;
}

/*.item1 {
	margin-right: auto; 
}*/



.item4{
	flex-grow: 5;
}
.item2 {
	flex-grow: 2;
}
